#set($thisid = "tagbag"+$doc.getFieldValue('id'))
<div class="tagbag" name="extr"  id="$thisid" style="display:none;"> 
    <div onclick='jQuery(this).parent().hide();' class="closer"><span>X</span></div>
    <div class="callbackmsg" id="callbackmsg$doc.getFieldValue('id')" style="display:none;">
        
    </div>
    <ul class="megarow" >
    #foreach($ontofields in $megafields) 
        <li><ul class="tagrow" > 
            #foreach($ontofield in $ontofields) 
                #set( $tid = $ontofield[0]+$doc.getFieldValue('id'))
                <li class="tagadder">     
                    <select size="1" name="value" class="yui3-button" id="$tid" onChange="addfield('$doc.getFieldValue('id')','$ontofield[0]', this.value);"> 
                        <option>$ontofield[0].replace('_',' ')</option> 
                        #foreach($v in $ontofield[1])
                            <option value="$v">$v.replace('_',' ')</option> 
                        #end    
                    </select>      
                </li>
            #end
        </ul></li>
    #end
</div>

<div class="result-title">

<b>#field('name')</b> 

## <span class="togglebutton" onclick='jQuery(this).parent().siblings("table").toggle();' > &pm;   </span>
## <a     onclick='jQuery(this).parent().siblings("table").toggle();jQuery(this).parent().siblings("div[class=tagcontainer]").toggle("fast");' > expand  </a>

#if($request.params.get('admin')=='true') 
## <span class="togglebutton"  onclick='hidealltagbags(); jQuery(this).parent().siblings("div[class=tagbag]").slideDown("slow");jQuery(this).parent().parent().attr("style","border:2px dotted darkred;background:#f4ffe0")' > &equiv;   </span>
<a    onclick='hidealltagbags(); jQuery(this).parent().siblings("div[class=tagbag]").slideDown("slow");jQuery(this).parent().parent().attr("style","border:2px dotted darkred;background:#f4ffe0")' > add tags  </a> 
#end




<span class="mlt">   #if($params.getBool('mlt', false) == false)
## <a href="#lensNoQ&q=id:$docId&mlt=true">&hellip;</a>
## <a href="#lensNoQ&q=id:$docId&mlt=true">similar chunks</a>
#end
</span>
</div>

## <div class="tagbag" name="extr"  id="tagbag"> 

<div>     
    <div class="chunkcontent" id="chunkcontent$docId">  
##     $doc.getFieldValue('content')[0] 
<table>
  <tr class="srcline">
    #foreach($w in $doc.getFieldValue('srcwordshtml'))
      <td  style="padding:5px;">$w</td>
    #end
    </tr><tr class="imtline">
    #foreach($w in $doc.getFieldValue('imtwordshtml'))
      <td  style="padding:5px;">$w</td>
    #end
  </tr>
</table> 
    $doc.getFieldValue('trs')[0]
    
    </div> 
<div class="chunkmeta">
 <span class="chunklanguage">$doc.getFieldValue('language')[0]</span>
 <span class="chunkid">   ($doc.getFieldValue('ID')[0])</span>
</div>
##     <a onclick='document.getElementById( "chunkcontent$docId").setAttribute("style","max-height:1000px")'> more</a>
</div>

#set($part =$doc.getFieldValue('partof'))


##   <div class="tagcontainer"  name="extr"   id="tagcontainer$docId" style="display:none;" >
<div class="tagcontainer"  name="extr"  id="tagcontainer$docId"  style="display:none;">    
#foreach($fieldname in $doc.fieldNames)   
    #foreach($ontofields in $megafields)     
        #foreach($ontofield in $ontofields)     
                #if($fieldname == $ontofield[0])   
                    <div class="tag">
                        <span class="field">$fieldname</span>
                        <span class="value">
                            #foreach($value in $doc.getFieldValues($fieldname))
                                <span  id="$docId$fieldname$value">$esc.html($value)
                                    <span class="closer">

#if($request.params.get('admin')=='true')  
                                        <a href="#" onclick="deletefield('$docId','$fieldname','$value')">X</a>
#end
                                    </span>
                                </span>
                            #end
                        </span>
                    </div>
                #end
            #end
        #end     
#end    
#set($id_ = $doc.getFieldValue('id'))


#if($request.params.get('admin')=='true') 
    #if($id_== true)    
        <img id="flag$id_" onclick="setFlag('$id_',false)"  src="#{url_root}/img/redflag.png"  width="32px">
    #else
        <img id="flag$id_"  onclick="setFlag('$id_',true)"  src="#{url_root}/img/greenflag.png"  width="32px">
    #end
#end
</div> 
    
 ## Display Similar Documents / MLT = More Like This
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)
    <div class="field-name">
      Similar Items
    </div>
  #end
  ## If has MLT enabled An Entries to show
##   #if ($mltOn && $mlt && $mlt.size() > 0)
  #if (true)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>
          <div>
            <a href="#url_for_home?q=id:$mltId">
              $mltHit.getFieldValue('name')</a>
          </div>
          <div> 
            "$mltHit.getFieldValue('translatedsentence')"
          </div>
          <div> 
            $mltHit.getFieldValue('language') 
          </div>
        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  ## Else MLT Enabled but no mlt results for this query
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>  ## div class=mlt

 
#parse('debug.vm')
