## <h2>    Meta   
##     <span class="togglebutton"  onClick="toggleBox('metabox')">&#x25BE;&#x25B4;</span> </h2> 

## <div class="navigatorbox" id="metabox" style="display:none"> 
<div class="navigatorbox" id="metabox" >
  #foreach($field in $response.facetFields)
    #if($field.name == "dtype" or $field.name == "author" ) 
	#if($field.values.size() > 0)
	<div>   
<span class="togglebutton"  name="show" id="$field.name" onClick="toggleFacets('ul$field.name')">&#x25BE;&#x25B4;</span>
      <span class="facet-field">$field.name</span>
	 
	    <ul id="ul$field.name"> 
		#foreach($facet in $field.values)
		<li>
		    <a name="facetfamily" title="$facet.name" href="#url_for_facet_filter($field.name, $facet.name)">
			$facet.name
		    </a> ($facet.count)
		</li>
		#end
	    </ul>  
	</div> 
	#end  ## end if !- gloss
    #end  ## end if > 0
  #end    ## end for each facet field
	#parse('facet_ranges.vm')  
</div>