 
#set($thisid = "tagbag"+$doc.getFieldValue('id'))

#parse("tagbag.vm")
<div class="result-title">


<b>#field('name')</b> 

## <span class="togglebutton" onclick='jQuery(this).parent().siblings("table").toggle();' > &pm;   </span>
<a   onclick='jQuery(this).parent().siblings("table").toggle();jQuery(this).parent().siblings("div[class=tagcontainer]").toggle("fast");' > expand  </a>

#if($request.params.get('admin')=='true')  
<a   onclick='hidealltagbags(); jQuery(this).parent().siblings("div[class=tagbag]").slideDown("slow");jQuery(this).parent().parent().attr("style","border:2px dotted #ccc;background:#eef")' > add tags  </a> 
#end




<span class="mlt">   #if($params.getBool('mlt', false) == false)
## <a href="#lensNoQ&q=id:$docId&mlt=true">&hellip;</a>
<a href="#lensNoQ&q=id:$docId&mlt=true">similar examples</a>
#end
</span>
</div>

## <div class="tagbag" name="extr"  id="tagbag"> 



<table style="display:none;"> 
  <tr>
     <td class="lxmeta">
	<table>
	    <tr>
		<td class="lxnumber">(#field('id'))</td> 
	    </tr>
	    <tr>
		<td class="lxlg" title="#field('language')">#field('iso639-3')</td>
		<td class="lxlg"></td>
	    </tr>
	</table>
    </td>
   <td>



#if($doc.getFieldValue('lingex') and $doc.getFieldValue('lingex')!='' )
<div class="lingex" name="extr">
$doc.getFieldValue('lingex').replace('[','<').replace(']','>').replace('class="label"','class="xlabel"') 

</div>
<br/>
#else
	<table class="lxtable">
	    <tr class="vernacular">  
	    #set( $vs = $doc.getFieldValue('vernacularsentence') )  
	    #set($array = $vs.split(" ")) 
	    #set( $l =  0)
	    #foreach($a in $array)
		<td> $a   </td>
		#set ( $l = $l + 1 )
	    #end
	    </tr> 
	    <tr name="extr"  id="imtline">  
	    #set( $imts = $doc.getFieldValue('imtsentence') )  
	    #if($imts)
		#set($array = $imts.split(" ")) 
		#foreach($a in $array)
		    <td> $a </td>
		#end
	    #else	
		#if($request.params.get('admin')=='true')  
		    <td colspan="$l"> <input type="textarea" /> <input type="button" value="provide IMT"/></td>
		#end
	    #end
	    </tr>
	    <tr><td colspan="$l">" #field('translatedsentence') "</td></tr>
	</table>
#end
   </td>
  </tr>
</table> 
<div class="translatedsentence">"#field('translatedsentence')"</div>

 
## <span> #field('author')</span></div>
 
 
##   <div class="tagcontainer"  name="extr"   id="tagcontainer$docId" style="display:none;" >
<div class="tagcontainer"  name="extr"  id="tagcontainer$docId"  style="display:none;">   
 
#foreach($fieldname in $doc.fieldNames)   
    #foreach($ontofields in $megafields)     
	#foreach($ontofield in $ontofields)     
		#if($fieldname == $ontofield[0])   
		    <div class="tag">
			<span class="field">$fieldname</span>
			<span class="value">
			    #foreach($value in $doc.getFieldValues($fieldname))
				<span  id="$docId$fieldname$value">$esc.html($value)
				    <span class="closer">
					#if($request.params.get('admin')=='true')  
					    <a href="#" onclick="deletefield('$docId','$fieldname','$value')">X</a>
					#end
				    </span>
				</span>
			    #end
			</span>
		    </div>
		#end
	    #end
	#end	 
#end	
#set($id_ = $doc.getFieldValue('id'))


#if($request.params.get('admin')=='true') 
    #if($id_== true)   	
	<img id="flag$id_" onclick="setFlag('$id_',false)"  src="#{url_root}/img/redflag.png"  width="32px">
    #else
	<img id="flag$id_"  onclick="setFlag('$id_',true)"  src="#{url_root}/img/greenflag.png"  width="32px">
    #end
#end
</div> 
    
 ## Display Similar Documents / MLT = More Like This
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)
    <div class="field-name">
      Similar Items
    </div>
  #end
  ## If has MLT enabled An Entries to show
##   #if ($mltOn && $mlt && $mlt.size() > 0)
  #if (true)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>
          <div>
            <a href="#url_for_home?q=id:$mltId">
              $mltHit.getFieldValue('name')</a>
          </div>
          <div> 
            "$mltHit.getFieldValue('translatedsentence')"
          </div>
          <div> 
            $mltHit.getFieldValue('language') 
          </div>
        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  ## Else MLT Enabled but no mlt results for this query
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>  ## div class=mlt

 
#parse('debug.vm')
