
## <h2 id="h2meaning" >    Meaning  
##     <span class="togglebutton"  onClick="toggleBox('meaningbox')">&#x25BE;&#x25B4;</span>
## </h2>  

<div  id="meaningbox">  

    <script>
    $(function() {
	var availableMeaningTags = []
	var els = document.getElementsByName("facetmeaning") 
	for (i=0;i<els.length;i++){ 
	    availableMeaningTags.push(els[i].value+':'+els[i].title)
	} 
	$( "#meanings" ).autocomplete({
	source: availableMeaningTags
	});
	var rows = document.getElementById("rows").value
	for(var i =1;i<=rows;i++){
	    var s =  "#meaningsadder"+i 
	    $( s ).autocomplete({
		source: availableMeaningTags
		}); 
	} 
    });
    </script>

    <div class="ui-widget">
	<form action="#{url_for_filters}" method="GET" > 
## 	    <label for="meanings"> Meanings</label> 
	    <input id="meanings" onkeydown="$( '#meaningfq').val('occult:'+this.value.split(':')[0])" onFocus="$( '#meaning').attr('style','opacity:0.2')" onBlur="$( '#meaning').attr('style','opacity:1')"/>
	    <input id="meaningfq" type="hidden" name="fq" />
	</form>
    </div>  

    <div id="meaning"> 
 
    #foreach($field in $response.facetFields)
	## Hide facets without value
	#if($field.values.size() > 0) 
	    #if($field.name == "occult")
	    <div>
## 	    <span class="togglebutton"  name="show" id="$field.name" onClick="toggleFacets('ul$field.name')">&#x25BE;&#x25B4;</span>
## 		
## 	    <span class="facet-field">$field.name.replace('_','.')</span>
		
	    <ul id="ul$field.name" name="facetul" >   
		#foreach($key in $OCCULTONODICT.keySet())
		    #foreach($facet in $field.values)
			#set($stripnumber = $facet.name)
			#set($l = $stripnumber.length()) 
			#set($l1 = $math.sub($l,1) ) 
			#set($l2 = $math.sub($l,2) ) 
			#if($l2<0)
			    #set($l2 = 0 ) 
			#end
			#set($k1 =$stripnumber.charAt($l1))
			#set($k2 =$stripnumber.charAt($l2)) 
			#if($k1 != "0" || $k2 != "_") ##skip keys ending in _0
			    #if($stripnumber == $key )
				#set($onolabel = $OCCULTONODICT["$stripnumber"].replace('Seme', '') )
				<li> 
				    <input type="hidden" value="$stripnumber" title="$onolabel" name="facetmeaning" />
				    <a href="#url_for_facet_filter($field.name, $facet.name)"> 
					<span class="spacer">
					#foreach($i in [1..$facet.name.length() ])
					    .
					#end</span>$onolabel&nbsp;($facet.count)
				    </a>
				</li>
			    #end
			#end
		    #end
		#end
	    </ul>
		</div>
	    #end  ## end if !- glparent.oss
	#end  ## end if > 0
    #end    ## end for each facet field
    </div>
</div>  