#set($OCCULTONODICT= {"1":"PragmaticsSeme",
"1_1":"PolitenessSeme",
"1_1_1":"ImpoliteSeme",
"1_1_2":"PoliteSeme",
"1_2":"IllocutionSeme",
"1_2_1":"MirativeIllocutionSeme",
"1_2_2":"DeclarativeIllocutionSeme",
"1_2_3":"ImperativeIllocutionSeme",
"1_2_4":"ProhibitiveIllocutionSeme",
"1_2_5":"ImprecativeIllocutionSeme",
"1_2_6":"AdmonitiveIllocutionSeme",
"1_2_7":"OptativeIllocutionSeme",
"1_2_8":"CommissiveIllocutionSeme",
"1_2_9":"DishortativeIllocutionSeme",
"1_2_10":"VocativeIllocutionSeme",
"1_2_11":"HortativeIllocutionSeme",
"1_2_12":"SupplicativeIllocutionSeme",
"1_2_13":"InterrogativeIllocutionSeme",
"1_3":"MitigationOrReinforcementSeme",
"1_3_1":"MitigationSeme",
"1_3_2":"ReinforcementSeme",
"1_4":"RhetoricalRelationSeme",
"1_4_1":"JustificationSeme",
"1_4_2":"ElaborationSeme",
"1_4_3":"CorrectionSeme",
"1_4_4":"ExplanationSeme",
"1_4_5":"ConsequenceSeme",
"1_5":"ConversationalGoalSeme",
"1_5_1":"EndingAConversationSeme",
"1_5_2":"HesitationSeme",
"1_5_3":"TakingLeaveSeme",
"1_5_4":"AskingAFavourSeme",
"1_5_5":"DecliningAFavourSeme",
"1_5_6":"ExplainingSeme",
"1_5_7":"TellingYourAgeSeme",
"1_5_8":"ExpressingAnnoyanceSeme",
"1_5_9":"GrantingPermissionSeme",
"1_5_10":"SelfIntroductionSeme",
"1_5_11":"ThankingSeme",
"1_5_12":"GrantingAFavourSeme",
"1_5_13":"GreetingSeme",
"1_5_14":"AnsweringSeme",
"2":"PropositionSeme",
"2_1":"SituationSeme",
"2_1_1":"States",
"2_1_2":"EventSeme",
"2_1_2_1":"AccomplishmentSeme",
"2_1_2_2":"ActivitySeme",
"2_1_2_3":"AchievementSeme",
"2_2":"SpaceSeme",
"2_2_1":"SpatialDivisionSeme",
"2_2_1_1":"DistalitySeme",
"2_2_1_1_1":"ProximalSeme",
"2_2_1_1_2":"DistalSeme",
"2_2_1_2":"SpaceVisibilitySeme",
"2_2_1_2_1":"SpaceVisibleSeme",
"2_2_1_2_2":"SpaceInvisibleSeme",
"2_2_1_3":"SpaceSpeechActParticipantDivisionSeme",
"2_2_1_3_1":"SpeakerHearerSpaceSeme",
"2_2_1_3_2":"SpeakerSpaceSeme",
"2_2_1_3_3":"HearerSpaceSeme",
"2_2_2":"SpaceConfigurationSeme",
"2_2_2_1":"NumericalSpaceConfigurationSeme",
"2_2_2_1_1":"ThreePointConfigurationSeme",
"2_2_2_1_2":"ManyPointsConfigurationSeme",
"2_2_2_1_3":"TwoPointConfigurationSeme",
"2_2_2_2":"DispositionSpaceConfigurationSeme",
"2_2_2_2_1":"InferiorDispositionSeme",
"2_2_2_2_2":"DeambulativeDispositionSeme",
"2_2_2_2_3":"GeneralDispositionSeme",
"2_2_2_2_4":"SuperiorDispositionSeme",
"2_2_2_2_5":"PosteriorDispositionSeme",
"2_2_2_2_6":"ExteriorDispositionSeme",
"2_2_2_2_7":"LateralDispositionSeme",
"2_2_2_2_8":"CircumferentialDispositionSeme",
"2_2_2_2_9":"AnteriorDispositionSeme",
"2_2_2_2_10":"InteriorDispositionSeme",
"2_2_2_3":"SpaceMotionSeme",
"2_2_2_3_1":"SpatialSourceSeme",
"2_2_2_3_2":"SpatialGoalSeme",
"2_2_2_3_3":"SpatialTrajectorySeme",
"2_3":"ParticipantSeme",
"2_3_1":"EntityRolesSeme",
"2_3_1_1":"PropertyParticipantRoleSeme",
"2_3_1_2":"SituationParticipantRoleSeme",
"2_3_1_3":"UtteranceParticipantRoleSeme",
"2_3_1_4":"PropositionParticipantRoleSeme",
"2_3_1_5":"MeasureParticipantRoleSeme",
"2_3_2":"CoreferentParticipantSeme",
"2_3_2_1":"ReflexiveSeme",
"2_3_2_2":"ReciprocalSeme",
"2_3_2_3":"SelfBenefactiveSeme",
"2_3_3":"ParticipantEntityOrderSeme",
"2_3_3_1":"ReasonSeme",
"2_3_3_2":"SituationOrderSeme",
"2_3_3_2_1":"SituationOrderDynamicitySeme",
"2_3_3_2_1_1":"StativeSitutationSeme",
"2_3_3_2_1_2":"DynamicSituationSeme",
"2_3_3_2_1_2_1":"TelicSituationSeme",
"2_3_3_2_1_2_1_1":"PunctualSituationSeme",
"2_3_3_2_1_2_1_2":"NonPunctualTelicSituationSeme",
"2_3_3_2_1_2_2":"NontelicDynamicSituationSeme",
"2_3_3_2_2":"SituationOrderControlSeme",
"2_3_3_2_2_1":"ControlledSituationSeme",
"2_3_3_2_2_2":"UncontrolledSituationSeme",
"2_3_3_3":"MeasureSeme",
"2_3_3_4":"PropertySeme",
"2_3_3_5":"MannerSeme",
"2_3_3_6":"UtteranceSeme",
"2_3_3_7":"IndividualSeme",
"2_3_4":"ParticipantRoleSeme",
"2_3_4_1":"ParticpantRoleSetDomainSeme",
"2_3_4_2":"ParticpantRoleConditionSeme",
"2_3_4_3":"ParticpantRoleEvidenceSeme",
"2_3_4_4":"ParticpantRoleNegativeCircumstanceSeme",
"2_3_4_5":"ParticpantRoleLocationSeme",
"2_3_4_6":"ParticpantRoleComitativeSeme",
"2_3_4_7":"ParticpantRoleCircumstanceSeme",
"2_3_4_8":"ParticpantRoleSourceSeme",
"2_3_4_9":"ParticpantRoleReasonSeme",
"2_3_4_10":"ParticpantRolePathSeme",
"2_3_4_11":"ParticpantRoleInstrumentSeme",
"2_3_4_12":"ParticpantRoleConcessionSeme",
"2_3_4_13":"ParticpantRoleCauseSeme",
"2_3_4_14":"ParticpantRoleQuantificationSeme",
"2_3_4_15":"ParticpantRoleAdditionSeme",
"2_3_4_16":"ParticpantRoleAgentSeme",
"2_3_4_17":"ParticpantRoleValueSeme",
"2_3_4_18":"ParticpantRoleTemporalDomainSeme",
"2_3_4_19":"ParticpantRoleRoleSeme",
"2_3_4_20":"ParticpantRoleExperiencerSeme",
"2_3_4_21":"ParticpantRolePatientSeme",
"2_3_4_22":"ParticpantRolePortionSeme",
"2_3_4_23":"ParticpantRoleMannerSeme",
"2_3_4_24":"ParticpantRoleUnrealCircumstanceSeme",
"2_3_4_25":"ParticpantRoleConcessiveConditionSeme",
"2_3_4_26":"ParticpantRoleProprietiveSeme",
"2_3_4_27":"ParticpantRoleMeansSeme",
"2_3_4_28":"ParticpantRoleGoalSeme",
"2_3_4_29":"ParticpantRoleSpatialExtensionSeme",
"2_3_4_30":"ParticpantRoleCaritiveSeme",
"2_3_4_31":"ParticpantRolePurposeSeme",
"2_3_4_32":"ParticpantRoleBeneficiarySeme",
"2_3_4_33":"ParticpantRoleThemeSeme",
"2_3_4_34":"ParticpantRoleRecipientSeme",
"2_3_4_35":"ParticpantRoleForceSeme",
"2_4":"ModificationSeme",
"2_4_1":"AssociationModificationSeme",
"2_4_1_1":"PossessionModificationSeme",
"2_4_1_2":"MeronymicAssociationModificationSeme",
"2_4_2":"QualityModificationSeme",
"2_4_3":"CharacterizingModificationSeme",
"2_4_4":"RealityModificationSeme",
"2_4_5":"IntensityModificationSeme",
"2_4_6":"QuantityModificationSeme",
"2_4_7":"MannerModificationSeme",
"2_4_8":"DegreeModificationSeme",
"2_4_8_1":"InsufficientDegreeModificationSeme",
"2_4_8_2":"SufficientDegreeModificationSeme",
"2_4_8_3":"AbundantDegreeModificationSeme",
"2_4_9":"LocalizationModificationSeme",
"2_4_9_1":"NonDeicticLocalizationModificationSeme",
"2_4_9_2":"DeicticLocalizationModificationSeme",
"2_4_10":"PolarityModificationSemex",
"2_4_11":"EvidentialityModificationSeme",
"2_4_12":"FrequencyModificationSeme",
"2_4_13":"TimeModificationSeme",
"2_4_14":"RestrictiveModificationSeme",
"2_4_15":"ModalityModificationSeme",
"2_5":"ComparisonSeme",
"2_5_1":"EquativeComparisonSeme",
"2_5_2":"CorrelativeComparisonSeme",
"2_5_2_1":"CorrelativeComparisonPropertySeme",
"2_5_2_2":"CorrelativeComparisonSituationSeme",
"2_5_3":"SuperlativeComparisonSeme",
"2_5_4":"SuperiorityComparisonSeme",
"2_5_5":"InferiorityComparisonSeme",
"2_6":"PolaritySeme",
"2_6_1":"PolarityValueSeme",
"2_6_1_1":"PositivePolaritySeme",
"2_6_1_2":"NegativePolaritySeme",
"2_6_2":"IndivdualsPolaritySeme",
"2_6_3":"MannerPolartiySeme",
"2_6_4":"ExistencePolaritySeme",
"2_6_4_1":"ExistentSeme",
"2_6_4_2":"NonExistentSeme",
"2_6_5":"PropertiesPolaritySeme",
"2_6_5_1":"LitotesSeme",
"2_6_5_2":"LackOfPropertySeme",
"2_6_6":"LocationPolaritySeme",
"2_6_7":"TimePolaritySeme",
"2_6_8":"PresenceSeme",
"2_6_8_1":"AbsentPresenceSeme",
"2_6_8_2":"PresentPresenceSeme",
"2_6_9":"PropositionalContentPolaritySeme",
"2_6_9_1":"DenialSeme",
"2_6_9_2":"AffirmationSeme",
"2_6_10":"SituationPolaritySeme",
"2_6_10_1":"SituationPositivePolaritySeme",
"2_6_10_1_1":"AlreadyPolaritySeme",
"2_6_10_1_2":"StillPolaritySeme",
"2_6_10_2":"SituationNegativePolaritySeme",
"2_6_10_2_1":"NotYetPolaritySeme",
"2_6_10_2_2":"NoLongerPolaritySeme",
"2_7":"QuantificationSeme",
"2_7_1":"SituationQuantificationSeme",
"2_7_1_1":"SituationTemporalQuantificationSeme",
"2_7_1_1_1":"SituationDurationQuantificationSeme",
"2_7_1_1_2":"SituationQuantificationHabitualitySeme",
"2_7_1_1_3":"SituationFrequencyQuantificationSeme",
"2_7_1_1_4":"SituationQuantificationIterativitySeme",
"2_7_1_2":"SituationSpatialQuantificationSeme",
"2_7_1_2_1":"SituationSpatialQuantificationDistributivitySeme",
"2_7_2":"MeasureQuantificationSeme",
"2_7_3":"OrdinalitySeme",
"2_7_3_1":"IndefiniteOrderSeme",
"2_7_3_1_1":"AverageRankOrderSeme",
"2_7_3_1_2":"HighRankOrderSeme",
"2_7_3_1_3":"LowRankOrderSeme",
"2_7_3_2":"DenumerableOrderSeme",
"2_7_3_2_1":"DenumerableOrderThirdSeme",
"2_7_3_2_2":"DenumerableOrderLastSeme",
"2_7_3_2_3":"DenumerableOrderSecondToLastSeme",
"2_7_3_2_4":"DenumerableOrderSecondSeme",
"2_7_3_2_5":"DenumerableOrderFirstSeme",
"2_7_4":"QuantitySeme",
"2_7_4_1":"IndefiniteQuantitySeme",
"2_7_4_1_1":"ZeroQuantitySeme",
"2_7_4_1_2":"HighProportionQuantitySeme",
"2_7_4_1_3":"AverageProportionQuantitySeme",
"2_7_4_1_4":"LowProportionQuantitySeme",
"2_7_4_1_5":"TotalQuantitySeme",
"2_7_4_1_6":"UnclearProportionQuantitySeme",
"2_7_4_2":"DenumerableQuantitySeme",
"2_7_4_2_1":"Quantity2Seme",
"2_7_4_2_2":"Quantity1Seme",
"2_7_4_2_3":"Quantity10Seme",
"2_7_4_2_4":"Quantity100Seme",
"2_7_5":"IndividualsQuantificationSeme",
"2_7_5_1":"GenericityQuantificationSeme",
"2_7_5_2":"CollectivityQuantificationSeme",
"2_7_5_3":"SingularityQuantificationSeme",
"2_7_5_4":"PluralityQuantificationSeme",
"2_7_6":"MannerQuantificationSeme",
"2_7_6_1":"NullQuantityMannerQuantificationSeme",
"2_7_6_2":"TotalQuantityMannerQuantificationSeme",
"2_7_7":"LocationQuantificationSeme",
"2_7_7_1":"NusquamitySeme",
"2_7_7_2":"UbiquitySeme",
"2_7_8":"TimeQuantificationSeme",
"2_7_8_1":"SemperitySeme",
"2_7_8_2":"NumquamitySeme",
"2_8":"PossessionSeme",
"2_8_1":"PossessionDurationSeme",
"2_8_1_1":"TemporaryPossessionSeme",
"2_8_1_2":"PermanentPossessionSeme",
"2_8_2":"AlienabilitySeme",
"2_8_2_1":"InalienablePossessionSeme",
"2_8_2_2":"AlienablePossessionSeme",
"2_8_3":"PossessumAnimacySeme",
"2_8_3_1":"InanimatePossessumSeme",
"2_8_3_2":"AnimatePossessumSeme",
"2_9":"PersonSeme",
"2_9_1":"PersonEgoSeme",
"2_9_1_1":"PersonExcludingSpeakerSeme",
"2_9_1_2":"PersonIncludingSpeakerSeme",
"2_9_2":"ClusivitySeme",
"2_9_2_1":"PersonExclusivitySeme",
"2_9_2_2":"PersonInclusivitySeme",
"2_9_3":"PersonTuSeme",
"2_9_4":"PersonNumberSeme",
"2_9_4_1":"PersonDualSeme",
"2_9_4_2":"PersonTrialSeme",
"2_9_4_3":"PersonPaucalSeme",
"2_9_4_4":"PersonMinimalSeme",
"2_9_4_4_1":"PersonSingularSeme",
"2_9_4_5":"PersonQuadralSeme",
"2_9_4_6":"PersonPluralSeme",
"2_10":"ModalityEvidentialitySeme",
"2_10_1":"EvidentialitySeme",
"2_10_1_1":"PropositionOrientedEvidentialitySeme",
"2_10_1_2":"ReportativeSeme",
"2_10_1_3":"SituationOrientedEvidentialitySeme",
"2_10_2":"ModalitySeme",
"2_10_2_1":"ModalityTypeSeme",
"2_10_2_1_1":"DeonticModalitySeme",
"2_10_2_1_2":"FrustrativeModalitySeme",
"2_10_2_1_3":"EpistemicModalitySeme",
"2_10_2_1_3_1":"PropositionOrientedEpistemicModalitySeme",
"2_10_2_1_3_1_1":"UniversalPropositionOrientedEpistemicModalitySeme",
"2_10_2_1_3_1_2":"DubitativePropositionOrientedEpistemicModalitySeme",
"2_10_2_1_3_1_3":"DoxasticPropositionOrientedEpistemicModalitySeme",
"2_10_2_1_3_1_4":"HypotheticalPropositionOrientedEpistemicModalitySeme",
"2_10_2_1_3_2":"SituationOrientedEpistemicModalitySeme",
"2_10_2_1_4":"VolitiveModalitySeme",
"2_10_2_1_5":"Facultative_modality",
"2_10_2_2":"ModalityOrientationSeme",
"2_10_2_2_1":"ParticipantOrientedModality",
"2_10_2_2_2":"PropositionOrientedModality",
"2_10_2_2_3":"SituationOrientedModality",
"2_11":"TimeSeme",
"2_11_1":"InternalTemporalConstitutionSeme",
"2_11_1_1":"PhasalSeme",
"2_11_1_1_1":"ProgressiveSeme",
"2_11_1_1_2":"InceptiveSeme",
"2_11_1_1_3":"AbruptnessSeme",
"2_11_1_1_3_1":"SuddennessSeme",
"2_11_1_1_3_2":"NonSuddennessSeme",
"2_11_1_1_4":"ContinuativeSeme",
"2_11_1_1_5":"TerminativeSeme",
"2_11_1_2":"PerfectivitySeme",
"2_11_1_2_1":"ImperfectiveSeme",
"2_11_1_2_2":"PerfectiveSeme",
"2_11_2":"ExternalTemporalConstitutionSeme",
"2_11_2_1":"RelativeTimeSeme",
"2_11_2_1_1":"RelativeTimeWithImplicitGroundSeme",
"2_11_2_1_1_1":"RelativeTimeWithImplicitGroundBeforeReferencePointSeme",
"2_11_2_1_1_1_1":"RelativeTimeWithImplicitGroundLongBeforeReferencePointSeme",
"2_11_2_1_1_1_2":"RelativeTimeWithImplicitGroundImmediatelyBeforeReferencePointSeme",
"2_11_2_1_1_2":"RelativeTimeWithImplicitGroundSimultaneaousToReferencePointSeme",
"2_11_2_1_1_3":"RelativeTimeWithImplicitGroundAfterReferencePointSeme",
"2_11_2_1_1_3_1":"RelativeTimeWithImplicitGroundLongAfterReferencePointSeme",
"2_11_2_1_1_3_2":"RelativeTimeWithImplicitGroundJustAfterReferencePointSeme",
"2_11_2_1_2":"RelativeTimeWithExplicitGroundSeme",
"2_11_2_1_2_1":"RelativeTimeWithFigurePrecedingExplicitGroundSeme",
"2_11_2_1_2_1_1":"RelativeTimeWithUnboundedFigurePrecedingGroundSeme",
"2_11_2_1_2_1_2":"RelativeTimeWithGroundTerminalBoundarySeme",
"2_11_2_1_2_2":"RelativeTimeWithFigureSimultaneousToGroundSeme",
"2_11_2_1_2_2_1":"RelativeTimePartialCoincidenceFigureGroundSeme",
"2_11_2_1_2_2_2":"RelativeTimePointCoincidenceFigureGroundSeme",
"2_11_2_1_2_2_3":"RelativeTimeFullCoincidenceFigureGroundSeme",
"2_11_2_1_2_2_4":"RelativeTimeOverlapFigureGroundSeme",
"2_11_2_1_2_3":"RelativeTimeWithFigureFollowingExplicitGroundSeme",
"2_11_2_1_2_3_1":"RelativeTimeWithGroundInitialBoundarySeme",
"2_11_2_2":"AbsoluteTimeSeme",
"2_11_2_2_1":"SimultaneousToSpeechActSeme",
"2_11_2_2_2":"TimeBeforeSpeechActSeme",
"2_11_2_2_2_1":"RemotePastSeme",
"2_11_2_2_2_2":"RecentPastSeme",
"2_11_2_2_2_2_1":"HodiernalPastSeme",
"2_11_2_2_2_2_2":"HesternalPastSeme",
"2_11_2_2_3":"TimeAfterSpeechActSeme",
"2_11_2_2_3_1":"RemoteFutureSeme",
"2_11_2_2_3_2":"ImminentFutureSeme",
"2_11_2_2_3_3":"HodiernalFutureSeme",
"2_11_2_2_3_4":"CrastinalSeme",
"2_12":"CoordinationSeme",
"2_12_1":"NORCoordinationSeme",
"2_12_2":"XORCoordinationSeme",
"2_12_3":"ANDCoordinationSeme",
"2_12_4":"ORCoordinationSeme",
"2_12_5":"BUTCoordinationSeme",
"3":"DiscourseSeme",
"3_1":"AscriptionSeme",
"3_1_1":"ObjectOfAscriptionSeme",
"3_1_1_1":"PropertyAscriptionSeme",
"3_1_1_1_1":"PropertyAssignmentSeme",
"3_1_1_1_1_1":"DynamicPropertyAssignmentSeme",
"3_1_1_1_1_2":"NonDynamicPropertyAssignmentSeme",
"3_1_1_1_2":"StatusAssignmentSeme",
"3_1_1_2":"LocationAscriptionSeme",
"3_1_1_3":"TimeAscriptionSeme",
"3_1_1_4":"ExistenceAscriptionSeme",
"3_1_1_4_1":"PositiveExistenceAscriptionSeme",
"3_1_1_4_2":"NegativeExistenceAscriptionSeme",
"3_1_1_5":"IndividualAscriptionSeme",
"3_1_1_5_1":"ClassInclusionSeme",
"3_1_1_5_2":"IdentityAscriptionSeme",
"3_1_1_5_3":"ClassMembershipSeme",
"3_1_2":"AscriptionModificationSeme",
"3_1_3":"AscriptionTypeSeme",
"3_1_3_1":"NonStraightforwardAscriptionSeme",
"3_1_3_1_1":"ExactAscriptionSeme",
"3_1_3_1_2":"SloppyAscriptionSeme",
"3_1_3_2":"StraightforwardAscriptionSeme",
"3_2":"QuerySeme",
"3_2_1":"QueryingMannerSeme",
"3_2_2":"QueryingLocationSeme",
"3_2_3":"QueryingSituationsSeme",
"3_2_3_1":"QueryingPurposeSeme",
"3_2_4":"QueryingTimeSeme",
"3_2_5":"QueryingReasonSeme",
"3_2_6":"QueryingPropositionalContentSeme",
"3_2_7":"QueryingUtterancesSeme",
"3_2_8":"QueryingPropertySeme",
"3_2_9":"QueryingMeasureSeme",
"3_2_9_1":"QueryingDurationSeme",
"3_2_10":"QueryingIndividualSeme",
"3_2_10_1":"QueryingAnimalSeme",
"3_2_10_2":"QueryingHumanSeme",
"3_2_10_3":"QueryingObjectSeme",
"3_3":"InformationStructureSeme",
"3_3_1":"ImplicatureCancellationSeme",
"3_3_2":"TopicalitySeme",
"3_3_2_1":"TopicalityContrastSeme",
"3_3_2_1_1":"ContrastiveTopicSeme",
"3_3_2_1_2":"NonContrastiveTopicSeme",
"3_3_2_2":"TopicalityNewnessSeme",
"3_3_2_2_1":"ResumedTopicSeme",
"3_3_2_2_2":"NewTopicSeme",
"3_3_2_2_3":"GivenTopicSeme",
"3_3_3":"FocalitySeme",
"3_3_3_1":"FocusContrastivitySeme",
"3_3_3_1_1":"NonContrastiveFocusSeme",
"3_3_3_1_2":"ContrastiveFocusSeme",
"3_3_3_2":"FocusTypeSeme",
"3_3_3_2_1":"TheticFocusSeme",
"3_3_3_2_2":"CategoricalFocusSeme",
"3_3_3_2_2_1":"NarrowFocusSeme",
"3_3_3_2_2_1_1":"NarrowFocusReferentSeme",
"3_3_3_2_2_1_2":"NarrowFocusAscriptionSeme",
"3_3_3_2_2_2":"BroadFocusSeme",
"3_4":"ReferentsSeme",
"3_4_1":"ReferentSpecificitySeme",
"3_4_1_1":"SpecificReferentSeme",
"3_4_1_2":"NonSpecificReferentSeme",
"3_4_2":"ActivationStateSeme",
"3_4_2_1":"InactiveReferentSeme",
"3_4_2_2":"UnactivatedReferentSeme",
"3_4_2_3":"AccessibleReferentSeme",
"3_4_2_4":"ActiveReferentSeme",
"3_4_3":"ReferentsImportanceSeme",
"3_4_3_1":"NonUnimportantReferentSeme",
"3_4_3_2":"UnimportantReferentSeme",
"3_4_4":"ReferentialStateSeme",
"3_4_4_1":"IdentifiableReferentSeme",
"3_4_4_2":"NonIdentifiableReferentSeme",
"3_4_4_3":"QueriedReferentSeme",
"3_4_5":"ReferentsModificationSeme"
})

